<div class="container">
    <div class="form-check">
        <input class="form-check-input" type="checkbox" id="destacado" name="destacado" [(ngModel)]="destacado"
            (change)="cargarProductos(destacado)">
        <label class="form-check-label" for="destacado">
            Productos Destacados
        </label>
    </div>
    <div class="row-cols-1 row-cols-sm-3">
        <div *ngFor="let producto of ArrayProductos">
            <div class="card" style="width: 100%">
                <img src="{{producto.imagen}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{producto.nombre}}</h5>
                    <p class="card-text">{{producto.descripcion}}</p>
                    <p>{{producto.precio}}</p>
                    <p>Stock restante: {{producto.stock}}</p>
                </div>
            </div>

        </div>
    </div>
</div>

