<div>
    <button type="button" class="btn btn-success" (click)="agregarTicket()">nuevo ticket</button>
</div>

<div>
    <button type="button" class="btn btn-danger" (click)="cargarTickets('')">QUITAR FILTROS</button>
</div>
<label for="from-type" class="form-label">CATEGORIA</label>
<select class="form-select" id="from-type" name="monedaOrigen" [(ngModel)]="catEspectador" (change)="cargarTickets(catEspectador)">
    <option value="e">Extranjero</option>
    <option value="l">Local</option>
</select>


<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th scope="col">PRECIO DEL TICKET</th>
            <th scope="col">CATEGORIA</th>
            <th scope="col">FECHA DEL TICKET</th>
            <th scope="col">ESPECTADOR</th>
            <th scope="col">acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ticket of ArrayTickets">
            <td>{{ticket.precioTicket | currency:'ARS ':true:'1.1-2'}}</td>
            <td>{{ticket.categoriaEspectador }}</td>
            <td>{{ticket.fechaCompra }}</td>
            <td>{{ticket.espectador.dni}}</td>
            <td>
                <button type="button" class="btn btn-success" (click)="modificar(ticket)">MODIFICAR</button>
                <button type="button" class="btn btn-danger" (click)="eliminar(ticket)">ELIMINAR</button>
            </td>
        </tr>
    </tbody>
</table>
